h2{
    margin-bottom: .5rem;
}
.material-icons{
    vertical-align: middle;
}
#files-select{
    
}
.fm-nav{
    display: block;
    background-color: var(--post);
    padding:10px 0 10px 6px;
    margin:1rem 0 0 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.fm-tree{
    font-size: 95%;
}
.fm-btn-group{
    display: inline-block;
    margin: 0 4px 0 4px;
}
.fm-btn-group a{
    color: var(--posttext);
}
.fm-btn-group i{
    color: var(--posttext);
    font-size: 1.25rem;
    display: inline-block;
}
.fm-btn-group a, .fm-btn-group button{
    -webkit-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    border:0;
    background-color: var(--post);
    border-radius: 5px;
    padding: 8px;
}
.fm-btn-group a{
    padding: 4px 8px 10px 7px;
}
.fm-btn-group a:hover, .fm-btn-group button:hover{
    background-color: var(--activenavbtn);
}
#fm{
    display: block;
    padding:0 0 8px 0;
    border: 1px solid rgba(55, 55, 55, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 50vh;
}
.fm-file, .fm-folder{
    -webkit-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    cursor: pointer;
    font-size: 90%;
    border-bottom: 1px solid rgba(55, 55, 55, 0.2);
    padding: 8px 0 8px 8px;
}
.fm-file:hover, .fm-folder:hover{
    background-color: rgba(55, 55, 55, 0.15);
}
.fm-folder{
    
}
.fm-file{
    
}